.screen-reader {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  
  .ppvx_body--no-scrolling {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  
  .ppvx_visible-only-in-context {
    display: none;
  }
  
  .ppvx_text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  