.warn-icon {
    --tw-text-opacity: 1;
    color: rgba(251, 191, 36, var(--tw-text-opacity));
    width: 1.25rem;
}

.error-icon {
    --tw-text-opacity: 1;
    color: rgba(248, 113, 113, var(--tw-text-opacity));
    width: 1.25rem;
}

.info-icon {
    --tw-text-opacity: 1;
    color: rgba(96, 165, 250, var(--tw-text-opacity));
    width: 1.25rem;
}

.success-icon {
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity));
    width: 1.25rem;
}

.close-icon {
    width: 1em;
    height: 1em;
    display: block;
}

.alert--close__btn {
    position: absolute;
    top: 0.1875rem;
    right: 0.1875rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    display: inline-flex;
    line-height: 1;
    display: inline-block;
  }