.card-media-container {
    flex-shrink: 0;
}

.card-media-image {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    max-width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}